{% extends "base.html" %}
{% block title %}<title>SocFilms - Homepage</title>{% endblock %}

{% block login %}
<a href="{{ url_for('login') }}" class="navbar-item">Login</a>
{% endblock %}
{% block signup %}
<a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
{% endblock %}


{% block content %}
<br>
<br>
<h1 style="font-size:160%;">Welcome to SocFilms - social network for filmlovers</h1>
<br>
<p>Here you can easily search new films, add favourites and of course share with friends.
<br>Enjoy!</p>
<br>
<br>
<p>Do you want to <a href="{{ url_for('login') }}"><b><em>Log in?</em></b></a></p>
<p>OR <a href="{{ url_for('signup') }}"><b><em>Sign up?</em></b></a></p>
{% endblock %}