{% extends "base.html" %}

{% block login %}
<a href="{{ url_for('login') }}" class="navbar-item">Login</a>
{% endblock %}
{% block signup %}
<a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
{% endblock %}

{% block content %}
  <h1>Login</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Login>
  </form>
{% endblock %}