{% extends "base.html" %}

{% block title %}<title>SocFilms - Ваш профиль</title>{% endblock %}

{% block user %}
<a href="{{ url_for('search_friend') }}" class="navbar-item">Искать друзей</a>
{% endblock %}
{% block profile %}
<a href="{{ url_for('profile') }}" class="navbar-item">Профиль</a>
{% endblock %}

{% block logout %}
<a href="{{ url_for('logout') }}" class="navbar-item">Выйти</a>
{% endblock %}

{% block content %}

<h1 style="font-size:160%;"><b>{{user}}</b>, рады тебя видеть!!!</h1>
<br>
<!--{% with messages = get_flashed_messages(with_categories=true) %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for category, message in messages %}-->
<!--      <li class="{{ category }}">{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->
<br>
<h2 style="font-size:140%;">Запросы в друзья</h2>
<br>
{% if asked -%}
<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Страна</th>
    <th>Статус</th>
    <th>Действие</th>
  </tr>
{% for ask in asked %}
  <tr>
    <td>{{ ask[1] }}</td>
    <td>{{ ask[2] }}</td>
    <td>{{ ask[3] }}</td>
    <td>{{ ask[4] }}</td>
    <td>
      <form method="get" action="/confirm_friend"><input type="hidden" id="conf_user" name="conf_user" value="{{ ask[0] }}">
        <button type="submit">Добавить</button></form> <form method="get" action="/reject_friend"><input type="hidden" id="rej_user" name="rej_user" value="{{ ask[0] }}">
        <button type="submit">Отклонить</button></form>
    </td>
  </tr>
{% endfor %}
</table>
{% else -%}
    У вас пока нет новых запросов..
{% endif %}

<hr/>
<h2 style="font-size:140%;">Мои друзья</h2>
<br>
<br>
{% if confirmed +%}
<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Страна</th>
    <th>Статус</th>
    <th>Действие</th>
  </tr>
{% for conf in confirmed %}
  <tr>
    <td>{{ conf[1] }}</td>
    <td>{{ conf[2] }}</td>
    <td>{{ conf[3] }}</td>
    <td>{{ conf[4] }}</td>
    <td>
      <form method="get" action="/view_friend"><input type="hidden" id="iduser" name="iduser" value="{{ conf[0] }}">
        <button type="submit">View</button></form>
    </td>
  </tr>
{% endfor %}
</table>
{% else -%}
    У вас пока нет друзей..
{% endif %}

<hr/>
<h2 style="font-size:140%;">Избранные фильмы</h2>
<br>
{% if favourites %}
<table>
  <tr>
    <th>Фильм</th>
    <th>Год</th>
    <th>Рейтинг</th>
    <th>Просмотрен</th>
    <th>Комментарии</th>
  </tr>
{% for film in favourites %}
  <tr>
    <td>{{ film[0] }}</td>
    <td>{{ film[1] }}</td>
    <td>{{ film[2] }}</td>
    <td>{{ film[3] }}</td>
    <td>{{ film[4] }}</td>
  </tr>

{% endfor %}
</table>
{% else %}
Здесь будут ваши любимые фильмы..
{% endif %}
{% endblock %}