{% extends "base.html" %}

{% block title %}<title>SocFilms - Your Profile</title>{% endblock %}

{% block user %}
<a href="{{ url_for('search_friend') }}" class="navbar-item">Search friend</a>
{% endblock %}
{% block profile %}
<a href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
{% endblock %}

{% block logout %}
<a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
{% endblock %}

{% block content %}

<h1 style="font-size:160%;"><b>{{user}}</b>, welcome and enjoy!!!</h1>
<br>
<br>
<h2 style="font-size:140%;">Asked friends</h2>
<br>
{% if asked -%}
<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Country</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
{% for ask in asked %}
  <tr>
    <td>{{ ask[1] }}</td>
    <td>{{ ask[2] }}</td>
    <td>{{ ask[3] }}</td>
    <td>{{ ask[4] }}</td>
    <td>
      <form method="get" action="/confirm_friend"><input type="hidden" id="conf_user" name="conf_user" value="{{ ask[0] }}">
        <button type="submit">Confirm</button></form> <form method="get" action="/reject_friend"><input type="hidden" id="rej_user" name="rej_user" value="{{ ask[0] }}">
        <button type="submit">Reject</button></form>
    </td>
  </tr>
{% endfor %}
</table>
{% else -%}
    No requests yet..
{% endif %}

<hr/>
<h2 style="font-size:140%;">My friends</h2>
<br>
<br>
{% if confirmed +%}
<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Country</th>
    <th>Status</th>
  </tr>
{% for conf in confirmed %}
  <tr>
    <td>{{ conf[1] }}</td>
    <td>{{ conf[2] }}</td>
    <td>{{ conf[3] }}</td>
    <td>{{ conf[4] }}</td>
  </tr>
{% endfor %}
</table>
{% else -%}
    No friends yet..
{% endif %}

<hr/>
<h2 style="font-size:140%;">Favourite films</h2>
<br>
{% if favourites %}
<table>
  <tr>
    <th>Film</th>
    <th>Year</th>
    <th>Rating</th>
    <th>Viewed on</th>
    <th>Comments</th>
  </tr>
{% for film in favourites %}
  <tr>
    <td>{{ film[0] }}</td>
    <td>{{ film[1] }}</td>
    <td>{{ film[2] }}</td>
    <td>{{ film[3] }}</td>
    <td>{{ film[4] }}</td>
  </tr>

{% endfor %}
</table>
{% else %}
No favourites yet..
{% endif %}
{% endblock %}