{% extends "base.html" %}

{% block title %}<title>SocFilms - Искать фильм</title>{% endblock %}

{% block user %}
<a href="{{ url_for('search_friend') }}" class="navbar-item">Искать друзей</a>
{% endblock %}
{% block profile %}
<a href="{{ url_for('profile') }}" class="navbar-item">Профиль</a>
{% endblock %}

{% block logout %}
<a href="{{ url_for('logout') }}" class="navbar-item">Выйти</a>
{% endblock %}


{% block content %}
<h1 style="font-size:160%;">Найти новые фильмы тут легко</h1>
<br>
<br>
{% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method=post>
    <dl>
      <dt>Введите название кино:
      <dd><input type=text name=filmname required>
    </dl>
    <p><input type=submit value=Искать>
  </form>

{% if films +%}
<table>
  <tr>
    <th>Фильм</th>
    <th>Год</th>
    <th>Жанр</th>
    <th>Страна</th>
    <th>Избранное</th>
  </tr>
{% for film in films -%}
  <tr>
    <td>{{ film[1] }}</td>
    <td>{{ film[2] }}</td>
    <td>{{ film[3] }}</td>
    <td>{{ film[4] }}</td>
    <td>
      <form method="get" action="/add_favourite"><input type="hidden" id="idfilm" name="idfilm" value="{{ film[0] }}">
        <button type="submit">Добавить</button></form></td>
  </tr>
  {% endfor %}
</table>
{% else +%}
{% endif %}

{% endblock %}