{% extends "base.html" %}

<h1>Search new film by name easily</h1>
<br>
{% block content %}
<form method=post>
    <dl>
      <dt>Enter filmname here:
      <dd><input type=text name=filmname required>
    </dl>
    <p><input type=submit value=Search>
  </form>


{% if films +%}
<table>
  <tr>
    <th>Film</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Country</th>
  </tr>
{% for film in films -%}
  <tr>
    <td>{{ film[0] }}</td>
    <td>{{ film[1] }}</td>
    <td>{{ film[2] }}</td>
    <td>{{ film[3] }}</td>
  </tr>
  {% endfor %}
</table>
{% else +%}
    No such films yet..
{% endif %}
<br>
<br>
<br>
<div>
  <p><i>However you can`t add to favourites until log in</i></p>
</div>

{% endblock %}