{% extends "base.html" %}

{% block title %}<title>SocFilms - Search film</title>{% endblock %}

{% block user %}
<a href="{{ url_for('search_friend') }}" class="navbar-item">Search friend</a>
{% endblock %}
{% block profile %}
<a href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
{% endblock %}

{% block logout %}
<a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
{% endblock %}


{% block content %}
<h1 style="font-size:160%;">Search new film by name easily</h1>
<br>
<br>
{% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method=post>
    <dl>
      <dt>Enter filmname here:
      <dd><input type=text name=filmname required>
    </dl>
    <p><input type=submit value=Search>
  </form>

{% if films +%}
<table>
  <tr>
    <th>Film</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Country</th>
    <th>Favourites</th>
  </tr>
{% for film in films -%}
  <tr>
    <td>{{ film[1] }}</td>
    <td>{{ film[2] }}</td>
    <td>{{ film[3] }}</td>
    <td>{{ film[4] }}</td>
    <td>
      <form method="get" action="/add_favourite"><input type="hidden" id="idfilm" name="idfilm" value="{{ film[0] }}">
        <button type="submit">ADD</button></form></td>
  </tr>
  {% endfor %}
</table>
{% else +%}
    No such films yet..
{% endif %}

{% endblock %}