{% extends 'base.html' %}

{% block title %}<title>SocFilms - Регистрация</title>{% endblock %}

{% block login %}
<a href="{{ url_for('login') }}" class="navbar-item">Войти</a>
{% endblock %}
{% block signup %}
<a href="{{ url_for('signup') }}" class="navbar-item">Регистрация</a>
{% endblock %}

{% block content %}

<h1 style="font-size:160%;">Зарегистрируйтесь и используйте весь функционал</h1>
<br>
<br>
{% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<br>
<h2>Заполните свои данные:</h2>


<br>
<form method=post>
    <dl>
      <dt>Имя:
      <dd><input type=text name=name required>
      <dt>Фамилия:
      <dd><input type=text name=surname required>
      <dt>Никнейм:
      <dd><input type=text name=nickname required>
      <dt>Пароль:
      <dd><input type=password name=passw required>
      <dt>Email:
      <dd><input type=email name=email required>
      <dt>Страна:
      <dd><input type=text name=country required>
    </dl>
    <p><input type=submit value="Зарегистрироваться">
  </form>

{% endblock %}